@import "../../../utils/mixin";

.review-detail-answer {
  width: 100%;
  height: auto;
  padding: 24px 0;
  box-sizing: border-box;
}

.detail-answer-title {
  width: 900px;
  margin: 0 auto;
  border-bottom: 3px solid #e8e8e8;
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;

  span {
    font-size: 5rem;
    font-weight: bold;
    color: rgb(64, 58, 107, 0.8);
  }
}

.detail-answer-content {
  width: 900px;
  margin: 24px auto;
}

.answer-content-form {
  margin-top: 24px;
}

.answer-content-form-button {
  margin-top: 36px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}

@include tablet {
  .detail-answer-title {
    width: 700px;
  }

  .detail-answer-content {
    width: 700px;
  }
}
