.editor-form {
  position: absolute;
  right: 0;
  width: 95%;
  padding: 1rem;
  box-sizing: border-box;
  z-index: 1;
  white-space: pre-wrap;
  overflow-y: hidden;

  textarea {
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1rem;
    font-weight: 400;
    font-family: monospace;
    color: transparent;
    caret-color: red;
    line-height: 1.5rem;
    resize: none;
  }
}
