.editor-code {
  position: absolute;
  margin: 0;
  width: 100%;
  min-height: 100%;
  padding: 1rem;
  box-sizing: border-box;
  border: none;
  outline: none;
  background: rgb(41, 44, 51);
  font-size: 1rem;
  font-weight: 400;
  font-family: monospace;
  color: #eee;
  caret-color: red;
  z-index: 0;
  white-space: pre-wrap;
  overflow-y: hidden;
  line-height: 1.5rem;
}
