.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #f8f8f7;
  opacity: 0.9;
  z-index: 50;
}

.modal-content {
  position: absolute;
  top: -80px;
  right: 0;
  min-width: 120px;
  padding: 12px 20px;
  border: 1px solid #333;
  border-radius: 8px;
  background: #fff;
  z-index: 100;
}

.modal-content:after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 0 16px 20px 17.5px;
  border-color: #ffffff transparent;
  display: block;
  width: 0;
  z-index: 1;
  bottom: -18.5px;
  left: 49px;
  transform: rotate(-180deg);
}

.modal-content:before {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 0 16px 20px 17.5px;
  border-color: #333 transparent;
  display: block;
  width: 0;
  z-index: 0;
  bottom: -20px;
  left: 49px;
  transform: rotate(-180deg);
}

.modal-content-title {
  margin-bottom: 24px;
  font-size: 1.15rem;
  font-weight: bold;
  color: #333;
  line-height: 2rem;

  span {
    width: 28px;
    height: 28px;
    border: 5px solid #eee;
    border-radius: 100%;
    font-size: 1.2rem;
    font-weight: bold;
    color: #eee;
    background: rgb(64, 58, 107, 1);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.modal-content-buttons {
  display: flex;
  justify-content: center;
  gap: 12px;
}
