@import "../../../utils/mixin";

.review-list-template {
  width: 100%;
  height: auto;
  padding: 0 36px;
  margin-bottom: 36px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 36px;
}

@include tablet {
  .review-list-template {
    flex-direction: column;
  }
}
