.review-search {
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
  border: 2px solid #bbb;
  border-radius: 8px;
  background: #f8f8f7;
  display: flex;
  justify-content: space-between;
  align-items: center;

  input {
    width: 85%;
    border: none;
    outline: none;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: "Jua", sans-serif;
    color: #333;
    background: transparent;
  }

  svg {
    width: 1.4rem;
    height: 1.4rem;
    fill: #333;
  }
}
