@import "../../../utils/mixin";

.review-form-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.review-form {
  width: 900px;
  padding: 36px 0;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.review-form-banner {
  width: 100vw;
  height: 150px;
  margin-top: 80px;
  margin-bottom: 36px;
  background: #403a6b;

  .form-banner-box {
    width: 900px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      margin-bottom: 16px;
      font-size: 1.8rem;
      font-weight: bold;
      color: #eee;
    }

    h4 {
      font-size: 1rem;
      font-weight: bold;
      color: #eee;
    }
  }
}

.review-code-form {
  width: 100%;
  height: auto;
}

.review-info-form {
  width: 100%;
  height: auto;
}

.review-code-form-title {
  padding-bottom: 12px;
  margin-bottom: 36px;
  font-size: 1.8rem;
  font-weight: bold;
  color: #333;
  border-bottom: 3px solid #e8e8e8;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  span {
    width: 36px;
    height: 36px;
    font-size: 1.4rem;
    font-weight: bold;
    color: #eee;
    border: 5px solid #e8e8e8;
    border-radius: 100%;
    background: #403a6b;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.review-info-form-title {
  padding-bottom: 12px;
  margin-bottom: 36px;
  font-size: 1.8rem;
  font-weight: bold;
  color: #333;
  border-bottom: 3px solid #e8e8e8;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  span {
    width: 36px;
    height: 36px;
    font-size: 1.4rem;
    font-weight: bold;
    color: #eee;
    border: 3px solid #e8e8e8;
    border-radius: 100%;
    background: #403a6b;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.review-form-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}

@include tablet {
  .review-form-banner {
    .form-banner-box {
      width: 700px;
    }
  }

  .review-form {
    width: 700px;
  }
}
