.editor-code-container {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100%;
  border: none;
  outline: none;
  background: rgb(41, 44, 51);
  font-size: 1rem;
  font-weight: 400;
  font-family: monospace;
  color: #eee;
  caret-color: red;
  z-index: 0;

  &.disabled {
    z-index: 1;
  }
}

.editor-code-number {
  position: absolute;
  left: 0;
  width: 5%;
  padding: 1rem 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: bold;
  font-family: "monospace";
  color: #888;
  background: rgb(41, 44, 51);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  white-space: pre-wrap;
  overflow-y: hidden;
  line-height: 1.5rem;
}

.editor-code {
  position: absolute;
  right: 0;
  width: 95%;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: 400;
  font-family: monospace;
  color: #eee;
  caret-color: red;
  white-space: pre-wrap;
  overflow-y: hidden;
  line-height: 1.5rem;
}

.editor-hg-tags {
  position: absolute;
  padding: 1rem;
  padding-left: calc(1rem + 5%);
  padding-right: 0;
  box-sizing: border-box;
  z-index: 1;
}

.editor-modal {
  width: 230px;
  padding: 8px;
  border: 2px solid #bbb;
  border-radius: 4px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  z-index: 100;

  input {
    width: 180px;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: bold;
    font-family: "Jua", sans-serif;
    color: #333;
    caret-color: #333;
    z-index: 9999;
  }

  span {
    width: 50px;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-size: 0.925rem;
    font-weight: bold;
    font-family: "Jua", sans-serif;
    color: #333;
    background: transparent;
    text-align: right;
    z-index: 9999;
    display: inline-block;
    cursor: pointer;
  }
}
