@import "../../../utils/mixin";

.review-list {
  position: relative;
  flex: 5;
  min-height: 700px;
  padding: 24px;
  box-sizing: border-box;
  border: 3px solid #bbb;
  border-radius: 4px;
  background: #fff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 24px;
}

@include tablet {
  .review-list {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }
}
